.blink{
    animation: blinkingText 1.2s infinite;
    text-align: center;
}

@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}

.data{
    margin: 10px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

form{
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 3rem #c6ccd8;
    padding: 15px 30px;
    margin: 10px;
    height: 100%;
    background-color: #0f7e9b;
    background: linear-gradient(#0f7e9b,#92d7ef);    
}
input{
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: top 0.5s;
    margin: 8px;
}
input:focus{
    top: -5px;
}

.btn{
    position: relative;
    font-weight: bold;
    padding: 8px;
    margin: 10px auto;
    border-radius: 8px;
    outline: none;
    border: none;
    transition: top 0.5s;
    
}

.btn:hover{
    top: -3px;
}

h2{
    text-align: center;
}

.radio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.date{
    text-align: center;
}
button{
    cursor: pointer;
}
.forecast{
    background-color: #0f7e9b;
    background: linear-gradient(#0f7e9b,#92d7ef);
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 3rem grey;
    text-align: center;
    
}
.heading{
    font-size: 2rem;
    margin: 5px auto 40px;
}
.icon{
    display: inline-block;
    position: relative;
    right: 20px;
    bottom: 40px;
    margin: 14px;
}


.icon img{
    height: 80px;
    width: auto;
}

.temp{
    display: inline-block;
    position: relative;
    left: 16px;
    bottom: 40px;
    padding: 10px;
    margin: 10px;
}
.mainTemp{
    font-size: 3rem;
    position: relative;
    bottom: 5px;
    left: 15px;
}

.margin{
    margin: 0;
}
.size{
    font-size: 1rem;
}
.minmax{
    position: relative;
    padding: 10px;
    bottom: 20px;
}

@media (max-width : 500px){
    .forecast{
        text-align: center;
    }
    .icon{
        right: 0;
    }
    .mainTemp{
        left: 0;
    }
    .temp{
        left: 0;
    }
}

